{% extends('layout.html.twig') %}

{% block Content %}
  <div class="container vh-100">
    <div class="row h-100">
      <div id="vue-app" class="col-12 col-md-12">
        <app/>
      </div>
    </div>
  </div>
{% endblock %}

{% block Javascripts %}
  <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
